img {
    position: absolute;
    left: 0px;
    top: 0px;
}
.container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;   
        align-items: center; 
    }
}
.container_div {
    margin: 10px;
    width: 156px;
    height: 220px;
}
.gif-container {
    background: blue;
    width: 156px;
    height: 220px;
    overflow: hidden;
    position: absolute;
}
